@import "bootstrap/bootstrap.less";

body {
  // padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

@bodyBackground: #4c3e4f;
@textColor: #eee;
@linkColor: #faa834;
@linkColorHover: darken(@linkColor, 15%);
@darkAccentColor: darken(@bodyBackground, 6%);
@dropdownLinkBackgroundHover: #9b7ea1;

// @btnBackground: lighten(@linkColor, 15%);
// @btnBackgroundHighlight: @linkColor;

// Header
// -----------------

body {
    background-image: url('../img/header-bg-long.gif');
    background-repeat: repeat-x;
    // background-attachment: fixed;
}

.header-bg {
    height: 240px;
    background-image: url('../img/header-bg.gif');
}

.header {
    height: 260px;
}

.ashas-fur-bg {
    background-image: url('../img/ashas-fur-bg2.jpg');
    background-color: @black;
    background-repeat: no-repeat;
    height: 260px;
    // background-position: 20px 0;
}

// Horizontal Rules
// ----------------

hr{
    border-top: 0;
    border-bottom: 1px solid @darkAccentColor;
}

.page-header {
    border-bottom: 1px solid @darkAccentColor;
}

// Buttons
// -------

a.btn {
    color: @darkAccentColor;
}

// Gallery Thumbnails
// ----------

.thumbnails a {
    border-color: #8d7393;
    /*border-color: #FAA834;*/
}

.thumbnails a:hover {
    border-color: #fff;
    /*border-color: #FAA834;*/
}

.gallery-header {
    margin-bottom: 0.8em;
}

.well {
    /*color: black;*/
    background-color: @darkAccentColor;
    margin-bottom: 0;
}

// BREADCRUMBS
// -----------

.breadcrumb {

  a,
  a:hover,
  a:active,
  a:visited {
    color: @textColor;
  }

  #gradient > .vertical(@grayDark, @grayDarker);
  border: 0px solid @grayDarker;
  .box-shadow(inset 0 1px 0 @grayDarker);
  li {
    text-shadow: 0 1px 0 @black;
  }
  .divider {
    color: @grayLight;
  }
  .active a {
    color: @grayDark;
  }

  // border-top: 0;
  margin-top: 0;
}







